<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DynamicData" version="8.3.27" targetFramework="net48" />
  <package id="FileFormatWavefront" version="1.0.3.0" targetFramework="net48" />
  <package id="GlmNet" version="0.7.0" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net48" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.31" targetFramework="net48" />
  <package id="Prism.Core" version="8.1.97" targetFramework="net48" />
  <package id="Prism.Wpf" version="8.1.97" targetFramework="net48" />
  <package id="SharpGL" version="3.1.1" targetFramework="net48" />
  <package id="SharpGL.SceneGraph" version="3.1.1" targetFramework="net48" />
  <package id="SharpGL.Serialization" version="3.1.1" targetFramework="net48" />
  <package id="SharpGL.WPF" version="3.1.1" targetFramework="net48" />
  <package id="Splat" version="14.8.12" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" targetFramework="net48" />
  <package id="System.Data.DataSetExtensions" version="4.5.0" targetFramework="net48" />
  <package id="System.Drawing.Common" version="4.7.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Reactive" version="6.0.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="8.0.0" targetFramework="net48" />
  <package id="System.Text.Json" version="8.0.2" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
</packages>